@import "../../styles/_utils/mixins";

.topbar {
  display: flex;
  height: 115px;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    height: 75px;
  }

  &__greeating {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  &__burger {
    display: none;

    @include mobile {
      display: block;
    }
  }
}
