@import '../../styles/_utils/mixins';

.adminPanel {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 306px) auto;

  @include small-desktop {
    grid-template-columns: max-content auto;
  }

  @include mobile {
    grid-template-columns: auto;
  }

  &__sidebar {
    max-height: 100vh;

    @include mobile {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.3s;
    }

    &--opened {
      transform: translateX(0);
    }
  }

  &__content {
    background-color: #fafbff;
    padding: 0 70px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include small-desktop {
      padding: 0 30px;
    }

    @include tablet {
      padding: 0 15px 20px;
    }
  }

  &__content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
